
* {
  background-color: rgb(230, 230, 230);
  height: 100% vh;
}

h2 {
  float: left;
  background-color: lightgray;
  color: slategray;
  margin-right: 4%;
  margin-left: 2%;
}

h3 {
  float: left;
  background-color: rgb(230, 230, 230);
  color: slategray;
  margin-right: 4%;
  margin-left: 2%;
}

p {
  background-color: rgb(230, 230, 230);
  color: slategray;
  font-size: 25px;
  margin-left: 5%;
  padding-top: 25px;
}

.wrapper {
  background-color: lightgrey;
}

.inline {
  float: left;
  display: inline;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  margin-top: 27px;
  background-color: lightgray;
}

nav {
  position: absolute;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: lightgray;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 80px;
  background-color: rgb(230, 230, 230);
  height: 100% vh;
}

.thumbnail {
  float: left;
  margin-top: 45px;
  margin-left: 50px;
  margin-right: 25px;
  width: 20%;
  height: 250px;
  background-color: rgb(230, 230, 230);
}

.extra-info {
  float: left;
  margin-top: 45px;
  margin-left: 3%;
  background-color: rgb(230, 230, 230);
  width: 20%;
  border: 1px solid black;
  height: 250px;
  padding: 25px;
  background-color: lightgray;
  overflow: scroll;
}

.description {
  float: left;
  overflow: scroll;
  width: 20%;
  height: 250px;
  border: 1px solid black;
  padding: 25px;
  margin-top: 45px;
  margin-left: 3%;
  background-color: lightgray;
}

.see-also {
  float: left;
  margin-left: 3%;
  margin-right: 5%;
  border: 1px solid black;
  padding: 25px;
  width: 20%;
  height: 250px;
  margin-top: 45px;
  background-color: lightgray;
  overflow: scroll;
}

.button {
  outline: none;
}

.button:hover, .button:active {
  background-color: #049adb;
}

em {
  background-color: inherit;
}

input {
  width: 35%;
}

li, ul {
  background-color: lightgray;
}

@media all and (min-width: 630px) and (max-width: 1250px) {
  .thumbnail, .extra-info {
    float: left;
    width: 40%;
  }
  .description {
    position:absolute;
    left: 12px;
    top: 414px;
    float: left;
    width: 40%;
  }
  .see-also {
    float: left;
    width: 40%;
  }
}

@media all and (min-width: 400px) and (max-width: 629px){
  .thumbnail, .extra-info, .description, .see-also {
    float: none;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page {
    background-color: rgb(230, 230, 230);
    height: 200px;
  }
  p {
    background-color: rgb(230, 230, 230);
    color: slategray;
    font-size: 18px;
    margin-left: 5%;
    padding-top: 25px;
  }
}
