<div class='page'>

<div class="wrapper">
  <input type="text" ng-model="search" placeholder="what are you looking for?" /></br>
  <button ui-sref='results' class="btn-primary button" ng-click="getBook(search)">Search</button>
</div>


<div>
<div class='thumbnail'><img src="{{book[0].volumeInfo.imageLinks.thumbnail}}"></br></br></div>
<div class='extra-info'>
  <a target=_blank href="{{book[0].volumeInfo.infoLink}}">{{book[0].volumeInfo.title}}</a></br>

  <em>{{book[0].volumeInfo.subtitle}}</em></br></br>
  Written by: {{book[0].volumeInfo.authors[0]}}</br></br>
  Published Date: {{book[0].volumeInfo.publishedDate}}</br></br>
  </div>
  <div class='description'>
  Description:</br> {{book[0].volumeInfo.description}}</br></br>
  </div>
</div>

<div class='see-also'>
  See also:</br>
  <ul>
  <li><a target=_blank href="{{book[1].volumeInfo.infoLink}}">{{book[1].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[2].volumeInfo.infoLink}}">{{book[2].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[3].volumeInfo.infoLink}}">{{book[3].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[4].volumeInfo.infoLink}}">{{book[4].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[5].volumeInfo.infoLink}}">{{book[5].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[5].volumeInfo.infoLink}}">{{book[6].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[5].volumeInfo.infoLink}}">{{book[7].volumeInfo.title}}</a></li>
  <li><a target=_blank href="{{book[5].volumeInfo.infoLink}}">{{book[8].volumeInfo.title}}</a></li>
  </ul>
</div>

</div>
